.container {
  background-color: #fff;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  color: #444;
  padding-top: 3.5rem;
}

.subTitle {
  font-size: 1.5rem;
  font-weight: bold;
  color: #444;
}

.postDate {
  font-style: italic;
  color: #97979b;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.content {
  margin-top: 3rem;
  padding-bottom: 2rem;
  font-size: 1rem;
  word-wrap: break-word;
}

.content pre {
  padding: .5rem;
  background-color: #313944 !important;
  border-radius: .4rem;
}

.content pre>code {
  color: #ddd;
}

.content blockquote {
  border-left:4px solid #cbcbcb ;
  padding: 5px 10px 1px 15px; 
  background-color: #f8f6f6;
  color: #8d8c8c;
}


