.container {
  width: 100%;
  text-align: center;
  padding-top: 1rem;
  color: #97979b;
  box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.1), 0 -1px 9px 0 rgba(0, 0, 0, 0.1);
}

.container div{
  margin-bottom: 1rem;
}

.account {
  background-color: #97979b;
}

.account:hover {
  cursor: pointer;
  background-color: #2980b9;
}