.container {
  margin-top: 10rem;
  margin-left: 2rem;
  position: sticky;
  top: 0;
  height: 90vh;
  overflow: auto;
}

.title {
  display: block;
  padding-left: 1rem;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: #888;
}

.content {
  margin-bottom: 2rem;
}