.introHeader {
  position: relative;
  width: 100%;
}

.bgImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  right: 0;
  bottom: 0;
  object-fit: cover;
  object-position: center;
}

.container {
  position: relative;
  color: white;
  padding: 130px 0;
  text-align: center;
  font-size: 4.5rem;
  z-index: 1;
}

.title {
  color: white;
  margin-bottom: 0;
}

.subtitle {
  font-size: 1.3rem;
}

@media screen and (max-width: 768px){
 .container {
  padding: 120px 0;
  font-size: 3rem;
 }
}